@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+KR:wght@100..900&display=swap');

.dm-serif {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*기본 스타일 시트 초기화*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/*header 영역*/
header {
    top: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 1rem;
    color: white;
}

header .container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

header #left {
    display: flex;
    text-align: center;
}

header #left div {
    margin-right: 1rem;    
}

header div i {
    font-size: 1.25rem;
}

header div a {
    display: block;
    font-size: 0.8rem;
}

header #right input {
    outline: none;
    margin-left: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;
    width: 10rem;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: white;
}

/*main 영역*/
body {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    /*드래그 방지*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none 
}

main .container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#login-form h1 {
    font-size: 2.5rem;
}

#login-form input {
    outline: none; /*아웃라인 없애는 거*/
    border: 0;
    background-color: transparent;
    font-size: 2.3rem;
    border-bottom: 2px solid #fff;
    width: 450px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: white;
}

#clock h2 {
    font-size: 7.5rem;
}

#greeting h1 {
    margin-top: -1.5rem;
    font-size: 3rem;
}

#todo {
    width: 100%;
    margin-top: 0.5rem;
}

#todo form input {
    outline: none;
    border: 0;
    background-color: transparent;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.3rem;
    text-align: center;
    color: white;
}

#todo form input::placeholder {
    color: white;
}

#todo ul {
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: none; /*IE, Edge*/
    scrollbar-width: none; /*Firefox*/
    ::-webkit-scrollbar {
        display: none;
        width: 0px;
    }; /*크로미움 기반*/
}

#todo li {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
}

#todo button {
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    margin-left: 0.5rem;
}

/*footer*/

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 1rem;
    z-index: 1;
} 

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #weather {
    display: flex;
    flex-direction: column;
}
footer #weather span:first-child {
    font-size: 1.2rem;
}

footer #weather span:last-child {
    font-size: 0.9rem;
}

footer #quote {
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer #quote span:last-child {
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

footer #setting {
    font-size: 1.2rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*페이드 인아웃 효과 구현해보기 (우선순위 나중)*/
.fadein {
    animation: fadein 2s ease-in-out;
    -moz-animation: fadein 2s ease-in-out;
    -webkit-animation: fadein 2s ease-in-out;
    -o-animation: fadein 2s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}